.btn-bd-primary {
    font-weight: 600; 
    color: #fff; 
    background-color: #cc4f29;
    border-color: #cc4f29;
}

.btn-bd-primary:hover, .btn-bd-primary:active {
    color: #fff; 
    background-color: #cc4f29;
    border-color: #cc4f29;
}

.btn-bd-primary:focus {
    box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}